.portfolio{
    background-color: #002147;
    box-shadow: 1px 0px 10px black;
    padding: 25px;
}

@media (max-width: 768px){ 
    .portfolio{
        margin-right: -50px;
        margin-left: -10px;
    }
}

@media (max-width: 426px){ 
    .portfolio{
        margin-right: -50px;
        margin-left: -10px;
    }
}
